.mygroup-body  {
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/home/bahl/react FriendsHangout app/hangout-budget-app/src/component/GroupOptions/GroupOptions.jpg'); /* Adjust path as per your file structure */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontally center the form */
    align-items: center; /* Vertically center the form */
  }